h2 Add new item
label(for='title') Title: 
input(ng-model='form.title', name='title')
p Description (Text):
textarea(ng-model='form.text', cols='50', rows='15')
p
  button(ng-click='addItem()') Add Item